.banner-list{
    height: 100vh;
    width: calc(100vw - 240px);
}

.banner-list .list{
    border: 5px solid #c2bcbc;
    margin: 5px;
    height: 90%;
    overflow-y: scroll;
    width: 100%;
    border-radius: 10px;
}

